services:
    n8n:
        build:
            context: .
            dockerfile: Dockerfile.test
        ports:
            - "5678:5678"
        extra_hosts:
            - "host.docker.internal:host-gateway"
        volumes:
            - n8n_test_data:/home/node/.n8n

volumes:
    n8n_test_data:
